In [19]:
# construct an adjacency matrix with the use of mdf created in the previous work p9
import pandas as pd
mdf = pd.read_csv('경남영업소간통행시간평균.csv')
mdf.head()

  출발영업소 출발영업소주소 도착영업소 도착영업소주소  통행시간평균
0    서울   서울특별시    지곡     함양군    8611
1    서울   서울특별시    함안     함안군   12835
2    서울   서울특별시   동창원     창원시   13338
3    서울   서울특별시   서김해     김해시   14776
4    서울   서울특별시   동김해     김해시   12857

In [20]:
# get a node list from mdf['도착영업소주소']
nList = mdf['도착영업소주소'].unique()
print(len(nList))
print(nList)

29
['함양군' '함안군' '창원시' '김해시' '산청군' '진주시' '창녕군' '하동군' '거창군' '사천시' '고성군' '통영시'
 '밀양시' '서울특별시' '전라북도' '경기도' '충청남도' '광주광역시' '전라남도' '양산시' '합천군' '대구광역시'
 '경상북도' '울산광역시' '부산광역시' '대전광역시' '충청북도' '세종특별자치시' '강원도']

In [21]:
# create an empty matrix to fill up
import numpy as np
adjMatrix = pd.DataFrame(np.zeros((len(nList),len(nList))), columns=nList, index=nList)
adjMatrix.head()

,함양군,함안군,창원시,김해시,산청군,진주시,창녕군,하동군,거창군,사천시,...,양산시,합천군,대구광역시,경상북도,울산광역시,부산광역시,대전광역시,충청북도,세종특별자치시,강원도
함양군,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
함안군,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
창원시,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
김해시,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
산청군,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# while iterating over the rows, fill up the elements
for index, row in mdf.iterrows():
    adjMatrix[row['출발영업소주소']][row['도착영업소주소']] += row['통행시간평균']
adjMatrix.head()

C:\Users\syj43\AppData\Local\Temp\ipykernel_9704\3398438150.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  adjMatrix[row['출발영업소주소']][row['도착영업소주소']] += row['통행시간평균']

,함양군,함안군,창원시,김해시,산청군,진주시,창녕군,하동군,거창군,사천시,...,양산시,합천군,대구광역시,경상북도,울산광역시,부산광역시,대전광역시,충청북도,세종특별자치시,강원도
함양군,7982.0,19937.0,9197.0,17514.0,13641.0,18745.0,7737.0,3080.0,4207.0,15569.0,...,0.0,0.0,52683.0,13350.0,9724.0,0.0,56636.0,6953.0,9290.0,0.0
함안군,12211.0,11223.0,25394.0,63902.0,13896.0,24940.0,20126.0,20568.0,15866.0,23527.0,...,33253.0,2870.0,86160.0,210817.0,22202.0,112760.0,64731.0,174199.0,30841.0,0.0
창원시,4105.0,18439.0,14301.0,43841.0,6512.0,25815.0,13422.0,22571.0,9684.0,22882.0,...,26764.0,0.0,51608.0,135125.0,66371.0,110683.0,47475.0,11417.0,0.0,0.0
김해시,16726.0,51633.0,39229.0,42619.0,31439.0,72991.0,45809.0,67816.0,26841.0,35074.0,...,31332.0,5022.0,199784.0,453163.0,142922.0,164099.0,119063.0,272339.0,30834.0,0.0
산청군,14037.0,16710.0,23959.0,42300.0,6137.0,15578.0,0.0,9419.0,10125.0,9860.0,...,6415.0,2737.0,19586.0,17454.0,7501.0,31606.0,47986.0,5590.0,12141.0,0.0

In [23]:
# save
adjMatrix.to_csv('transTimeAdjMatrix.csv', index=True, encoding='utf-8')

In [24]:
# nullify its diagonal elements
for i in range(len(nList)):
    adjMatrix.iloc[i][i] = 0
adjMatrix.head()

C:\Users\syj43\AppData\Local\Temp\ipykernel_9704\312656649.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  adjMatrix.iloc[i][i] = 0
C:\Users\syj43\AppData\Local\Temp\ipykernel_9704\312656649.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  adjMatrix.iloc[i][i] = 0

,함양군,함안군,창원시,김해시,산청군,진주시,창녕군,하동군,거창군,사천시,...,양산시,합천군,대구광역시,경상북도,울산광역시,부산광역시,대전광역시,충청북도,세종특별자치시,강원도
함양군,0.0,19937.0,9197.0,17514.0,13641.0,18745.0,7737.0,3080.0,4207.0,15569.0,...,0.0,0.0,52683.0,13350.0,9724.0,0.0,56636.0,6953.0,9290.0,0.0
함안군,12211.0,0.0,25394.0,63902.0,13896.0,24940.0,20126.0,20568.0,15866.0,23527.0,...,33253.0,2870.0,86160.0,210817.0,22202.0,112760.0,64731.0,174199.0,30841.0,0.0
창원시,4105.0,18439.0,0.0,43841.0,6512.0,25815.0,13422.0,22571.0,9684.0,22882.0,...,26764.0,0.0,51608.0,135125.0,66371.0,110683.0,47475.0,11417.0,0.0,0.0
김해시,16726.0,51633.0,39229.0,0.0,31439.0,72991.0,45809.0,67816.0,26841.0,35074.0,...,31332.0,5022.0,199784.0,453163.0,142922.0,164099.0,119063.0,272339.0,30834.0,0.0
산청군,14037.0,16710.0,23959.0,42300.0,0.0,15578.0,0.0,9419.0,10125.0,9860.0,...,6415.0,2737.0,19586.0,17454.0,7501.0,31606.0,47986.0,5590.0,12141.0,0.0

In [25]:
# and save it
adjMatrix.to_csv('transTimeAdjMatrixZeroDiagonalElem.csv', index=True, encoding='utf-8')

In [ ]:
# the matrix is asymmetric 
# end of the code