In [10]:
! pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl (11.6 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Collecting numpy>=1.22.4
  Downloading numpy-2.0.0-cp310-cp310-win_amd64.whl (16.5 MB)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Requirement already satisfied: six>=1.5 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.0.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

WARNING: You are using pip version 21.2.3; however, version 24.1 is available.
You should consider upgrading via the 'C:\Users\syj43\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [12]:
!pip install requests

Requirement already satisfied: requests in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (2.32.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from requests) (2024.6.2)

WARNING: You are using pip version 21.2.3; however, version 24.1 is available.
You should consider upgrading via the 'C:\Users\syj43\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [14]:
import pandas as pd
import requests
import json

In [73]:
# Define the parameters for the API request
parameters = {
    "key": "***",  # hide API key by using .gitignore
    "type": "json",       
    "numOfRows": 100,
    "pageNo": 5 # data consist of five pages in total
}

url = "https://data.ex.co.kr/openapi/basicinfo/unitList?"

# Send an HTTP GET request to the specified URL with the given parameters
response = requests.get(url, params=parameters)

# Print the HTTP status code (e.g., 200 for "OK", 404 for "Not Found")
# print(response.status_code)
# print(response.json())

In [74]:
response.json()['unitLists'][0]

{'unitName': '동둔내',
 'pageNo': None,
 'numOfRows': None,
 'unitCode': '734',
 'exDivCode': '00',
 'exDivName': '도공',
 'openClType': '0',
 'openClName': '폐쇄',
 'tollListCode': None,
 'tollYn': None}

In [75]:
# code = []
# name = []

for i in range(len(response.json()['unitLists'])):
    name.append(response.json()['unitLists'][i]['unitName'])
    code.append(response.json()['unitLists'][i]['unitCode'])

In [76]:
df = pd.DataFrame({'code':pd.Series(code), 'name':pd.Series(name)})
df

    code    name
0    011      인천
1    012  서영암(개)
2    013     순천만
3    025     동부산
4    029   가락(개)
..   ...     ...
441  983      장흥
442  984      보성
443  985      벌교
444  986      고흥
445  987     남순천

[446 rows x 2 columns]

In [78]:
# save df in the csv format
df.to_csv('영업소코드.csv', index=False)