In [84]:
# install this module to rean a xlsx file
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (2.2.2)
Collecting openpyxl
  Downloading openpyxl-3.1.4-py2.py3-none-any.whl (251 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.0.0)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\syj43\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.4

WARNING: You are using pip version 21.2.3; however, version 24.1 is available.
You should consider upgrading via the 'C:\Users\syj43\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [86]:
# read an xlsx file
df2 = pd.read_excel('영업소간교통량240620.xlsx')
df2.head()

,집계일자,출발영업소코드,도착영업소코드,출발영업소명,도착영업소명,도착지방향1종교통량,도착지방향2종교통량,도착지방향3종교통량,도착지방향4종교통량,도착지방향5종교통량,도착지방향6종교통량,도착지방향총교통량,출발지방향1종교통량,출발지방향2종교통량,출발지방향3종교통량,출발지방향4종교통량,출발지방향5종교통량,출발지방향6종교통량,출발지방향총교통량
0,2024-06-20,255,253,서안산,서서울,15546,510,517,465,290,925,18253,16124,548,627,536,365,916,19116
1,2024-06-20,103,101,수원신갈,서울,14340,576,1630,311,135,643,17635,15561,586,1621,366,201,747,19082
2,2024-06-20,253,255,서서울,서안산,16124,548,627,536,365,916,19116,15546,510,517,465,290,925,18253
3,2024-06-20,101,103,서울,수원신갈,15561,586,1621,366,201,747,19082,14340,576,1630,311,135,643,17635
4,2024-06-20,651,652,남양주,화도,13159,426,422,367,264,985,15623,14821,512,487,330,240,1115,17505

In [89]:
# create a new df from subset of the columns
df2_reduced = df2[['출발영업소코드','도착영업소코드','출발영업소명','도착영업소명','도착지방향총교통량','출발지방향총교통량']]
df2_reduced.head()

   출발영업소코드  도착영업소코드 출발영업소명 도착영업소명  도착지방향총교통량  출발지방향총교통량
0      255      253    서안산    서서울      18253      19116
1      103      101   수원신갈     서울      17635      19082
2      253      255    서서울    서안산      19116      18253
3      101      103     서울   수원신갈      19082      17635
4      651      652    남양주     화도      15623      17505

In [155]:
startCode = 243
destCode = 241
bMask1 = (df2_reduced['출발영업소코드']==startCode) & (df2_reduced['도착영업소코드']==destCode)
# bMask2 = (df2_reduced['출발영업소코드']==destCode) & (df2_reduced['도착영업소코드']==startCode)
print(df2_reduced[bMask1])
# print(df2_reduced[bMask2])

      출발영업소코드  도착영업소코드 출발영업소명 도착영업소명  도착지방향총교통량  출발지방향총교통량
5603      243      241    해인사    동고령         97         85

In [145]:
code = 239
bMask3 = (df2_reduced['출발영업소코드']==code) | (df2_reduced['도착영업소코드']==code)
print(df2_reduced[bMask3])

        출발영업소코드  도착영업소코드 출발영업소명 도착영업소명  도착지방향총교통량  출발지방향총교통량
254         239      238     칠원     칠서       2309       2404
264         238      239     칠서     칠원       2404       2309
503         239      519     칠원    남대구       1363       1396
514         519      239    남대구     칠원       1396       1363
720         239      237     칠원     남지        966        991
...         ...      ...    ...    ...        ...        ...
186365      593      239     부여     칠원          7          0
186711      594      239     청양     칠원          1          0
187331      596      239    가락2     칠원          0          0
188149      599      239     양촌     칠원          0          0
188997      603      239     정안     칠원          4          0

[869 rows x 6 columns]