In [2]:
# as it turned out that the data sets were incompatible...
# employ another data file with modifications based on wikiPage concerning highway stations :
# (https://ko.wikipedia.org/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD%EC%9D%98_%EA%B3%A0%EC%86%8D%EB%8F%84%EB%A1%9C_%EC%98%81%EC%97%85%EC%86%8C_%EB%AA%A9%EB%A1%9D)
import pandas as pd

In [31]:
# import fdf from the previous work 'avgFourDays_3'
fdf = pd.read_csv('fdf.csv')
print("fdf :\n", fdf.head())

fdf :
    출발영업소코드  도착영업소코드 출발영업소명 도착영업소명   도착지방향평균   출발지방향평균
0      101      101     서울     서울     61.75     61.75
1      101      102     서울    동수원   3706.75   5166.50
2      101      103     서울   수원신갈  16726.50  16281.25
3      101      104     서울     지곡     17.75     15.00
4      101      105     서울     기흥   9217.75   9065.50

In [32]:
# edit out redundant columns
fdf = fdf.drop(columns=['출발영업소코드','도착영업소코드','출발지방향평균'])
print("fdf :\n", fdf.head())

fdf :
   출발영업소명 도착영업소명   도착지방향평균
0     서울     서울     61.75
1     서울    동수원   3706.75
2     서울   수원신갈  16726.50
3     서울     지곡     17.75
4     서울     기흥   9217.75

In [24]:
# this is our brand new sdf
sdf = pd.read_excel('새영업소현황.xlsx')
print("sdf :\n", sdf.keys())
print("\n", sdf.head())

sdf :
 Index(['노선명', '영업소명', '전화번호', '팩스번호', '우편번호\n(5자리)', '주소', '새영업소명'], dtype='object')

             노선명   영업소명 전화번호 팩스번호  우편번호\n(5자리)  \
0       남해 제2지선  가락(개)  NaN  NaN      46709.0
1       남해 제2지선  가락(개)  NaN  NaN      46709.0
2           중앙선     가산  NaN  NaN      39852.0
3  광주대구선, 무안광주선     가조  NaN  NaN      50118.0
4         중부내륙선     감곡  NaN  NaN      27605.0

                                주소 새영업소명
0      부산광역시 강서구 남해2지선고속도로 13(봉림동)    가락
1      부산광역시 강서구 남해2지선고속도로 13(봉림동)   가락2
2  경상북도 칠곡군 가산면 송신로54 (천평리 612-29)    가산
3            경상남도 거창군 가조면 지산로 1412    가조
4          충청북도 음성군 감곡면 가곡로 193-27    감곡

In [25]:
sdf = sdf.drop(columns=['전화번호','팩스번호','우편번호\n(5자리)'])
sdf.head()
# in the new xlsx sheet, 새영업소명 is added to match names of stations to those of fdf

            노선명   영업소명                               주소 새영업소명
0       남해 제2지선  가락(개)      부산광역시 강서구 남해2지선고속도로 13(봉림동)    가락
1       남해 제2지선  가락(개)      부산광역시 강서구 남해2지선고속도로 13(봉림동)   가락2
2           중앙선     가산  경상북도 칠곡군 가산면 송신로54 (천평리 612-29)    가산
3  광주대구선, 무안광주선     가조            경상남도 거창군 가조면 지산로 1412    가조
4         중부내륙선     감곡          충청북도 음성군 감곡면 가곡로 193-27    감곡

In [26]:
# as the old column 영업소명 is replaced by 새명업소명, let's drop it
sdf = sdf.drop(['영업소명'], axis=1)
sdf.head()

            노선명                               주소 새영업소명
0       남해 제2지선      부산광역시 강서구 남해2지선고속도로 13(봉림동)    가락
1       남해 제2지선      부산광역시 강서구 남해2지선고속도로 13(봉림동)   가락2
2           중앙선  경상북도 칠곡군 가산면 송신로54 (천평리 612-29)    가산
3  광주대구선, 무안광주선            경상남도 거창군 가조면 지산로 1412    가조
4         중부내륙선          충청북도 음성군 감곡면 가곡로 193-27    감곡

In [27]:
# just like in the previous work, add new addresses 세부주소1 and 세부주소2
sdf['세부주소1'] = sdf['주소'].apply(lambda x: x.split()[0]) 
sdf['세부주소2'] = sdf['주소'].apply(lambda x: x.split()[0] if x.split()[0]!='경상남도' else x.split()[1])
sdf.head()

            노선명                               주소 새영업소명  세부주소1  세부주소2
0       남해 제2지선      부산광역시 강서구 남해2지선고속도로 13(봉림동)    가락  부산광역시  부산광역시
1       남해 제2지선      부산광역시 강서구 남해2지선고속도로 13(봉림동)   가락2  부산광역시  부산광역시
2           중앙선  경상북도 칠곡군 가산면 송신로54 (천평리 612-29)    가산   경상북도   경상북도
3  광주대구선, 무안광주선            경상남도 거창군 가조면 지산로 1412    가조   경상남도    거창군
4         중부내륙선          충청북도 음성군 감곡면 가곡로 193-27    감곡   충청북도   충청북도

In [75]:
# get lists of names ; in- and outside 경상남도
others = sdf['세부주소1'].unique()
others

array(['부산광역시', '경상북도', '경상남도', '충청북도', '강원도', '전라남도', '경기도', '충청남도',
       '전라북도', '광주광역시', '대구광역시', '대전광역시', '세종특별자치시', '예정', '울산광역시'],
      dtype=object)

In [81]:
import numpy as np
# np.delete(arrayName, index)
others = sdf['세부주소1'].unique()
for idx, val in enumerate(others):
    if val in ['예정','경상남도']:
        others = np.delete(others, idx)
others # why need to execute this cell twice ?

array(['부산광역시', '경상북도', '충청북도', '강원도', '전라남도', '경기도', '충청남도', '전라북도',
       '광주광역시', '대구광역시', '대전광역시', '세종특별자치시', '예정'], dtype=object)

In [85]:
# alternatively.
others = sdf['세부주소1'].unique()
for elem in ['예정','경상남도']:
    others = np.delete(others, np.where(others==elem))
others

array(['부산광역시', '경상북도', '충청북도', '강원도', '전라남도', '경기도', '충청남도', '전라북도',
       '광주광역시', '대구광역시', '대전광역시', '세종특별자치시', '울산광역시'], dtype=object)

In [92]:
gyeongnam = sdf['세부주소2'].unique()
for elem in others:
    gyeongnam = np.delete(gyeongnam, np.where(gyeongnam==elem))
gyeongnam

array(['거창군', '고성군', '사천시', '김해시', '함안군', '밀양시', '양산시', '창녕군', '산청군',
       '창원시', '예정', '진주시', '통영시', '함양군', '하동군', '합천군'], dtype=object)

In [28]:
# drop the column of complete addresses
sdf = sdf.drop(['주소'], axis=1)
sdf.head()

            노선명 새영업소명  세부주소1  세부주소2
0       남해 제2지선    가락  부산광역시  부산광역시
1       남해 제2지선   가락2  부산광역시  부산광역시
2           중앙선    가산   경상북도   경상북도
3  광주대구선, 무안광주선    가조   경상남도    거창군
4         중부내륙선    감곡   충청북도   충청북도

In [93]:
# save for later use
sdf.to_csv('sdf.csv', index=False)

In [95]:
# join the two dfs, fdf and sdf
# first to add address columns for start-stations
# mdf stands for merged dataFrame
mdf = pd.merge(fdf, sdf, left_on="출발영업소명", right_on="새영업소명").drop('새영업소명', axis=1)
mdf = pd.merge(mdf, sdf, left_on="도착영업소명", right_on="새영업소명").drop('새영업소명', axis=1)
mdf.head()

  출발영업소명 도착영업소명   도착지방향평균 노선명_x 세부주소1_x 세부주소2_x     노선명_y 세부주소1_y 세부주소2_y
0     서울     서울     61.75   경부선     경기도     경기도       경부선     경기도     경기도
1     서울    동수원   3706.75   경부선     경기도     경기도       영동선     경기도     경기도
2     서울   수원신갈  16726.50   경부선     경기도     경기도       경부선     경기도     경기도
3     서울     지곡     17.75   경부선     경기도     경기도  통영대전 중부선    경상남도     함양군
4     서울     기흥   9217.75   경부선     경기도     경기도       경부선     경기도     경기도

In [96]:
# drop redundant columns
mdf = mdf.drop(columns=['노선명_x','노선명_y'])
mdf.head()

  출발영업소명 도착영업소명   도착지방향평균 세부주소1_x 세부주소2_x 세부주소1_y 세부주소2_y
0     서울     서울     61.75     경기도     경기도     경기도     경기도
1     서울    동수원   3706.75     경기도     경기도     경기도     경기도
2     서울   수원신갈  16726.50     경기도     경기도     경기도     경기도
3     서울     지곡     17.75     경기도     경기도    경상남도     함양군
4     서울     기흥   9217.75     경기도     경기도     경기도     경기도

In [97]:
# rename the added columns
mdf = mdf.rename(columns={'세부주소1_x':'출발주소1', '세부주소2_x':'출발주소2',
                         '세부주소1_y':'도착주소1', '세부주소2_y':'도착주소2'})
mdf.head()

  출발영업소명 도착영업소명   도착지방향평균 출발주소1 출발주소2 도착주소1 도착주소2
0     서울     서울     61.75   경기도   경기도   경기도   경기도
1     서울    동수원   3706.75   경기도   경기도   경기도   경기도
2     서울   수원신갈  16726.50   경기도   경기도   경기도   경기도
3     서울     지곡     17.75   경기도   경기도  경상남도   함양군
4     서울     기흥   9217.75   경기도   경기도   경기도   경기도

In [98]:
# change the order of columns
mdf = mdf.iloc[:,[0,3,4,1,5,6,2]]
mdf.head()

  출발영업소명 출발주소1 출발주소2 도착영업소명 도착주소1 도착주소2   도착지방향평균
0     서울   경기도   경기도     서울   경기도   경기도     61.75
1     서울   경기도   경기도    동수원   경기도   경기도   3706.75
2     서울   경기도   경기도   수원신갈   경기도   경기도  16726.50
3     서울   경기도   경기도     지곡  경상남도   함양군     17.75
4     서울   경기도   경기도     기흥   경기도   경기도   9217.75

In [99]:
# drop rows having nothing to do with 경상남도 by using 도착주소1 which refers to province
# namely, leave no rows whose start- and terminal stations are both outside 경상남도
dropCond = mdf[(mdf['출발주소1']!='경상남도') & (mdf['도착주소1']!='경상남도')].index
mdf = mdf.drop(dropCond)
mdf.head()

   출발영업소명 출발주소1 출발주소2 도착영업소명 도착주소1 도착주소2  도착지방향평균
3      서울   경기도   경기도     지곡  경상남도   함양군    17.75
37     서울   경기도   경기도     양산  경상남도   양산시     0.75
40     서울   경기도   경기도     군북  경상남도   함안군     0.75
41     서울   경기도   경기도     장지  경상남도   함안군     0.75
42     서울   경기도   경기도     함안  경상남도   함안군     4.50

In [100]:
## add lately
# for the network over all provinces, take some parts of mdf
# the first partial mdf
pmdf = mdf[['출발주소1','도착주소1','도착지방향평균']]
pmdf.to_csv('전국교통량평균.csv', index=False, encoding='utf-8')

In [59]:
## not excecuted accordingly

# then, first addresses are redundant
# a corresponding adjacency matrix will be constructed based on the second addresses
mdf = mdf.drop(columns=['출발주소1','도착주소1'])

# rename the second ones
mdf = mdf.rename(columns={'출발주소2':'출발영업소주소', '도착주소2':'도착영업소주소'})
mdf.head()

   출발영업소명 출발영업소주소 도착영업소명 도착영업소주소  도착지방향평균
3      서울     경기도     지곡     함양군    17.75
37     서울     경기도     양산     양산시     0.75
40     서울     경기도     군북     함안군     0.75
41     서울     경기도     장지     함안군     0.75
42     서울     경기도     함안     함안군     4.50

In [94]:
# save this dataFrame in csv format
mdf.to_csv('mdf.csv', index=False)

In [ ]:
# end of the code